<!-- <p>login works!</p> -->
<br>
<br>
<marquee behavior="slide" direction="left">
  <h1 style="font-style: italic; color:aquamarine; text-align: center;">Welcome to Login Page!!</h1>
</marquee>


<section class="h-100 gradient-form" style="background-color: #fff; ">
  <div class="container py-5 h-80 ">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4 ">
                <h1 style="text-align: center;">Login Page</h1>

                <div class="text-center">
                  <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIDpeF1mhoolg5qZnTdbBIaWyr_UP7ZdVbhw&usqp=CAU" style="width:125px ;" > -->

                  <!-- <img src="E:/Angular/project/carinformation/img/logo.jpg" style="width: 185px;" alt="logo"> -->
                  <h4 class="mt-1 mb-5 pb-1"></h4>
                </div>

                <div class="container">
                  <div class="col-mg-6">
                    <form [formGroup]="loginform" (ngSubmit)="login()">
                      <div class="form-group">
                        <label for="exampleInputName1">User Name</label>
                        <input type="text" name="username" formControlName="username" class="form-control"
                          id="exampleInputEmail1" aria-describedby="emailHelp">

                        <!-- <span style="color: red;" *ngIf="uname.invalid && uname.touched">Please fill the valid Name</span> -->

                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" formControlName="password" class="form-control"
                          id="exampleInputPassword1">
                        <!-- <span style="color: red;" *ngIf="upass.invalid && upass.touched">Please fill the valid password</span> -->

                      </div>
                      <button type="submit"  class="btn btn-primary">Login</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>