<!-- <form #addData="ngForm" (ngSubmit)="addProduct(addData)">
<div class="form-group">
    <label for="">Car Name :</label>
    <br>
    <input type="text" #carName="ngModel" ngModel id="carName" name="carName" 
    placeholder="Enter the Car Name"><br><br>
    </div>

    <div class="form-group">
    <label for="">Car CompanyName :</label>
    <input type="text" #carCompany="ngModel" ngModel id="carCompany" name="carCompany" 
    placeholder="Enter the CarCompanyName"><br><br>
    </div>

    <label for="">Car FuelType :</label>
    <input type="text" #carFuelType="ngModel" ngModel id="carFuelType" name="carFuelType" 
    placeholder="Enter the CarFuelType"><br><br>

    <label for="">Car PowerSteering :</label>
    <input type="text" #carPowerSteering="ngModel" ngModel id="carPowerSteering" name="carPowerSteering" 
    placeholder="Enter the CarPowerSteering"><br><br>

    <label for="">Car BreakSystem :</label>
    <input type="text" #carBreakSystem="ngModel" ngModel id="carBreakSystem" name="carBreakSystem" 
    placeholder="Enter the CarBreakSystem"><br><br>

    <label for="">Car Showroom Price :</label>
    <input type="text" #carShowroomPrice="ngModel" ngModel id="carShowroomPrice" name="carShowroomPrice" 
    placeholder="Enter the CarShowroomPrice"><br><br>

    <label for="">Car Onroad Price :</label>
    <input type="text" #carOnroadPrice="ngModel" ngModel id="carOnroadPrice" name="carOnroadPrice" 
    placeholder="Enter the CarOnroadPrice"><br><br>

    <label for="">Car Mileage :</label>
    <input type="text" #carMileage="ngModel" ngModel id="carMileage" name="carMileage" 
    placeholder="Enter the CarMileage"><br><br>

    <label for="">Car SeatingCapacity :</label>
    <input type="text" #carSeatingCapacity="ngModel" ngModel id="carSeatingCapacity" name="carSeatingCapacity" 
    placeholder="Enter the CarSeatingCapacity"><br><br>

    <label for="">Car EngineCapacity :</label>
    <input type="text" #carEngineCapacity="ngModel" ngModel id="carEngineCapacity" name="carEngineCapacity" 
    placeholder="Enter the CarEngineCapacity"><br><br>

    <label for="">Car Gear Type :</label>
    <input type="text" #carGearType="ngModel" ngModel id="carGearType" name="carGearType" 
    placeholder="Enter the CarGearType"><br><br>

    <button type="submit">Add CarDetails</button>
    
</form>

 -->


 <form #addData="ngForm" (ngSubmit)="addProduct(addData)">
    <input type="text" #carName="ngModel" ngModel id="carName" name="carName" 
    placeholder="Enter the Car Name"><br><br>

    <input type="text" #carCompany="ngModel" ngModel id="carCompany" name="carCompany" 
    placeholder="Enter the CarCompany"><br><br>

    <input type="text" #carFuelType="ngModel" ngModel id="carFuelType" name="carFuelType" 
    placeholder="Enter the CarFuelType"><br><br>

    <!-- <input type="text" #productName="ngModel" ngModel id="productImageURL" name="productImageURL" 
    placeholder="Enter th Product ImageUrl"><br><br>  -->
    
     <input type="text" #carPowerSteering="ngModel" ngModel id="carPowerSteering" name="carPowerSteering" 
    placeholder="Enter the CarPowerSteering"><br><br>

    <input type="text" #carBreakSystem="ngModel" ngModel id="carBreakSystem" name="carBreakSystem" 
    placeholder="Enter the CarBreakSystem"><br><br>
    <input type="text" #carShowroomPrice="ngModel" ngModel id="carShowroomPrice" name="carShowroomPrice" 
    placeholder="Enter the CarShowroomPrice"><br><br>
    <input type="text" #carOnroadPrice="ngModel" ngModel id="carOnroadPrice" name="carOnroadPrice" 
    placeholder="Enter the CarOnroadPrice"><br><br>
    <input type="text" #carMileage="ngModel" ngModel id="carMileage" name="carMileage" 
    placeholder="Enter the CarMileage"><br><br>
    <input type="text" #carSeatingCapacity="ngModel" ngModel id="carSeatingCapacity" name="carSeatingCapacity" 
    placeholder="Enter the carSeatingCapacity"><br ><br>
     <input type="text" #carEngineCapacity="ngModel" ngModel id="carEngineCapacity" name="carEngineCapacity" 
     placeholder="Enter the CarEngineCapacity"><br><br>
    <input type="text" #carGearType="ngModel" ngModel id="carGearType" name="carGearType" 
    placeholder="Enter the CarGearType"><br><br>
 



    <button type="submit">Add CarDetails</button>
    
</form>
